<%- include('../partials/head') %>

<body class="bg-gray-100 font-sen">
  <main class="grid min-h-screen w-full grid-cols-1 md:grid-cols-2">
    <div class="relative hidden md:block">
      <img src="/assets/svg/placeholder.svg" alt="Auth Image" class="w-full h-auto object-cover">
    </div>
    <div class="flex flex-col items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
      <div class="w-full max-w-md xl:max-w-lg 2xl:max-w-2xl">
        <%- body %>
      </div>
    </div>
  </main>
</body>

<script src="/js/index.js" type="module"></script>

</html>